@media only screen and (min-width: 430px) {
  /*========== common styles: START ==========*/
  /*========== common styles: END ==========*/

  /*========== existing styles: START ==========*/
  /*========== existing styles: END ==========*/
}

@media only screen and (min-width: 640px) {
  /*========== common styles: START ==========*/

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  /*========== common styles: END ==========*/

  /*========== navbar top: START ==========*/
  .topbar-content {
    display: block;
  }
  /*========== navbar top: END ==========*/

  /*========== existing styles: START ==========*/
  .object-right a,
  .content-view-embed .attribute-image a,
  .content-view-full
    > .class-article:first-of-type
    > .attribute-header
    + .attribute-image
    a,
  .border-box:not(.portfolio-box)
    .class-folder
    .class-article
    .attribute-image
    a {
    width: 12rem;
  }

  .class-blog .rss-feed .attribute-image a,
  .social-view-embed .attribute-image a {
    width: 22rem;
  }

  /*========== existing styles: END ==========*/
}

@media only screen and (min-width: 768px) {
  /*========== common styles: START ==========*/
  /*========== common styles: END ==========*/

  /*========== existing styles: Start ==========*/
  /* div.columns-blog {
    grid-template-columns: 1fr 270px;
  } */

  .class-article {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
  }

  .class-article h2 {
    flex: 0 0 100%;
  }

  .class-article .attribute-image {
    flex: 0 0 320px;
  }

  .class-article .attribute-short {
    flex: 1;
  }

  .class-blog .columns-blog {
    grid-template-columns: 1fr 320px;
  }

  table td,
  table th {
    display: revert;
    word-break: unset;
  }

  /*========== existing styles: END ==========*/
}

@media only screen and (min-width: 1024px) {
  /*========== common styles: START ==========*/
  /*========== common styles: END ==========*/

  /*========== header: START ==========*/
  .header-main {
    --7x-border-opacity: 0.1;

    border-bottom: 1px solid
      rgba(var(--7x-very-dark-blue) / var(--7x-border-opacity));
  }

  .navbar-main .container {
    padding-block: 0;
    align-items: center;
  }

  .navbar-brand {
    margin-left: -1.25rem;
  }

  .navbar-brand > img {
    width: 4.6rem;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto !important;
    overflow: unset;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  /*
  .nav-link,
  .dropdown-button,
  :not(.dropdown) .nav-link {
    --7x-border-opacity: 0;

    border: 0;
    padding: 1.5rem 0.75rem;
  }
  */
  .nav-link,
  .dropdown-button a {
    white-space: nowrap;
  }

  .navbar-nav li:last-of-type .nav-link,
  .navbar-nav li:last-of-type .dropdown-button {
    border-color: transparent;
    padding-right: 0;
  }

  .nav-link > * {
    flex: 1;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-button {
    flex-direction: row;
  }

  .dropdown-toggle {
    border-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    padding-top: 1rem;
  }

  .dropdown:hover .dropdown-toggle::before {
    --7x-bg-color: var(--7x-moderate-green);

    width: 1rem;
    transform: translateY(1px);
  }

  .dropdown:hover .dropdown-toggle::after {
    --7x-bg-color: var(--7x-moderate-green);

    width: 1rem;
    transform: translateY(-1px);
  }

  .dropdown-menu {
    --7x-bg-opacity: 1;

    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    grid-template-rows: 1fr;
    min-width: 13rem;
    box-shadow: 0 0.5rem 1rem 0
      rgba(var(--7x-very-dark-blue) / var(--7x-shadow-opacity));
    background-color: rgba(var(--7x-white) / var(--7x-bg-opacity));
    border-radius: 0.25rem;
    transition: var(--7x-transition-lg-duration);
  }

  .dropdown:hover .dropdown-menu {
    grid-template-rows: 1fr;
  }

  .navbar-nav li:last-of-type .dropdown-menu {
    left: auto;
    right: 0;
  }

  .dropdown:hover .dropdown-menu,
  .dropdown.active .dropdown-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  .dropdown-link {
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding: 1.2rem 2rem 0.625rem 1.625rem;
  }

  :not(.dropdown) .nav-link {
    padding: 1.2rem 1rem 0.625rem 1rem;
  }

  .dropdown-button .contact-page {
    padding: 1.2rem 1rem 0.625rem 1rem;
  }

  i.fa-solid.fa-cart-shopping {
    position: relative;
    /* right: 14.8rem; */
    top: -2.0rem;
    left: -0.5rem;
  }

  h3.nav-link {
    display: none;
  }
  /*========== header: END ==========*/

  /*========== existing styles: Start ==========*/
  .class-blog .columns-blog {
    gap: 3rem;
  }

  .main-sections {
    padding-top: 4.2rem;
  }

  /*========== existing styles: End ==========*/
}

@media only screen and (min-width: 1280px) {
  /*========== common styles: START ==========*/
  .container {
    max-width: 1240px;
  }
  /*========== common styles: END ==========*/

  /*========== existing styles: Start ==========*/

  /* div#page,
  div#main-position {
    max-width: 1240px;
  } */

  .class-article {
    gap: 0 2rem;
  }
  /*========== existing styles: END ==========*/

  /*========== header: START ==========*/
  /*
  .nav-link,
  .dropdown-button,
  :not(.dropdown) .nav-link {
    padding: 1.5rem 1rem;
  }
*/
  /*========== header: END ==========*/
}

@media only screen and (min-width: 1536px) {
  /*========== common styles: START ==========*/
  .container {
    max-width: 1400px;
  }
  /*========== common styles: END ==========*/

  /*========== existing styles: Start ==========*/
  /*========== existing styles: END ==========*/
}
